.App {
  margin: auto;
  text-align: center;
  width: 90%;
}
.App h1 {
  font-size: 28px;
  padding: 15px;
  border-bottom: 1px solid rgb(213, 210, 213);
  margin-bottom: 40px;
}
.movie-item img{
  border-radius: 8px;
}
.search{
  margin-bottom: 20px;
  padding: 0;
}
input{
  width: 100%;
}

.movie-item{
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.pagination{
 margin: 10px;
}
.title-sort{
  margin-left: 10px !important;
}
